:root {
  --primary01_color_main : #16a085;
  --primary01_color_light : #5ad2b5;
  --primary01_color_dark : #007158;

  --primary02_color_main : #f39c12;
  --primary02_color_light : #ffcd4e;
  --primary02_color_dark : #bb6e00;
}