@import "set.css";
@import "footer.css";
@import "animation.css";

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

h1,h2,h3 {
  font-style: normal;
  font-weight: normal;
  font-size: unset;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

li {
  list-style: none;
}

.banner {
  display: flex;
  justify-content: center;
  background: url(/IMG/runner-1863202_960_720.webp) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2200px;
  height: 512px;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.banne__text-contain {
  font-size: var(--font-md-size);
  color: whitesmoke;
  cursor: pointer;
  margin-right: 800px;
  margin-top: 62px;
  line-height: 92px;
}

.banne__text-contain :nth-child(2) {
  font-size: var(--font-banner-size);
  letter-spacing: 12px;
  color: var(--color-primary2-main);
  font-weight: 900;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: azure;
  height: 62px;
  width: 100%;
  max-width: 1800px;
}

.nav-site__map {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.797);
  width: 100%;
}

.clicked {
  display: none;
}

.nav-site__map ul {
  font-size: 18px;
  margin-top: 18px;
  margin-left: -56px;
  font-weight: 800;
}

.nav-site__map li {
  margin: 24px;
  font-size: 14px;
  font-weight: 100;
}

.fa-solid {
  width: 40px;
  height: auto;
  font-size: 40px;
  margin-right: 20%;
  color: aquamarine;
  text-align: center;
  transition-duration: 0.5s;
  cursor: pointer;
}

.icons:hover {
  background-color: chartreuse; 
  color: black;
  border-radius: 20%;
}

.nav__home-contain {
  font-size: 18px;
  color: var(--color-primary2-light);
  font-weight: 900;
  transition-duration: 0.5s;
}

.fa-house {
  font-size: 24px;
  margin-right: 12px;
  color: var(--color-primary2-light);
}

.nav__customer-menu {
  display: flex;
  font-size: 18px;
  margin-right: 24px;
}

nav > .icons {
  margin-left: 24px;
}

.nav__home-contain {
  display: flex;
  align-items: center;
}


.nav__customer-menu p {
  margin-left: 48px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.nav__customer-menu p:hover {
  background-color: chartreuse; 
  color: black;
  border-radius: 20%;
}

.main__search {
  text-align: center;
  margin-top: 120px;
}

.main__search > .search-input {
  width: 360px;
  height: 36px;
  font-size: 18px;
  background-color: azure;
  transition-duration: 0.5s ;
  max-width: 360px;
}

.main__search > .search-input:hover {
  border: solid 1.5px;
  background-color: aquamarine;
}

.main__search > .search-button {
  height: 36px;
  margin-left: 12px;
  background-color: azure;
  cursor: pointer;
  transition-duration: 0.5s ;
  font-size: 18px;
}

.main__search > .search-button:hover {
  border: solid 1.5px;
  background-color: aquamarine;
}

.main__site-contents-contain{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main__site-contents-contain div {
  border: 1px solid;
  height: 320px;
  width: 320px;
  margin-left: 76px;
  margin-right: 76px;
  margin-top: 152px;
}

.main__deco {
  text-align: center;
  margin: 72px;
  font-size: var(--font-sm-size);
  font-weight: 900;
}

.main__deco h3 {
  margin-bottom: 24px;
  font-size: var(--font-bg-size);
  font-weight: 900;
}

.main__deco > div {
  margin-top: 124px;
  padding: 48px;
  font-weight: 900;
}

.deco-icon {
  font-size: 240px;
  width: auto;
  margin: 0px;
}

.main__deco .coment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeout{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

























