footer {
  display: flex;
  height: 312px;
  background-color: grey;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

footer :nth-child(1) {
  margin-right: 24px;
}

.footer__site-info p {
  margin-top: 18px;
}

.footer__logo {
  font-size: 24px;
}