:root {
  --font-banner-size : 120px;
  --font-bg-size : 64px;
  --font-md-size : 48px;
  --font-sm-size : 26px;

  --color-primary1-main : #16a085;
  --color-primary1-light : #5ad2b5;
  --color-primary1-dark : #007158;

  --color-primary2-main : #f39c12;
  --color-primary2-light : #ffcd4e;
  --color-primary2-dark : #bb6e00;


}